apiVersion: bitnami.com/v1alpha1
kind: SealedSecret
metadata:
  name: cloudflared-credentials
  namespace: cloudflare
spec:
  encryptedData:
    credentials.json: REPLACE_WITH_KUBESEAL_OUTPUT
  template:
    metadata:
      name: cloudflared-credentials
      namespace: cloudflare
    type: Opaque
