apiVersion: bitnami.com/v1alpha1
kind: SealedSecret
metadata:
  name: cloudflared-token
  namespace: cloudflare
spec:
  encryptedData:
    token: REPLACE_WITH_KUBESEAL_OUTPUT
  template:
    metadata:
      name: cloudflared-token
      namespace: cloudflare
    type: Opaque
